---

Django Migrations:
  stage: test
  image: python:3.12
  tags:
    - bear-gitlab-runners
  before_script:
    - pip install --upgrade pip
    - pip install .
  script:
    - cd django
    - mv core/local_settings.test.py core/local_settings.py
    - python manage.py makemigrations --check --dry-run

Django Tests:
  stage: test
  image: python:3.12
  tags:
    - bear-gitlab-runners
  before_script:
    - pip install --upgrade pip
    - pip install ".[test]"
  script:
    - cd django
    - mv core/local_settings.test.py core/local_settings.py
    - python manage.py migrate
    - coverage run manage.py test
    - coverage report
    - coverage xml -o coverage.xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: django/coverage.xml

Accessibility:
  stage: test
  image: node:22
  tags:
    - bear-gitlab-runners
  before_script:
    # OS packages
    - apt update
    - DEBIAN_FRONTEND=noninteractive apt install -y libx11-xcb1 libxcomposite1 libxcursor1 libxss1 libgbm1
                                                    libatk-bridge2.0-0 libgtk-3-0 libasound2 libnss3 sqlite3
    # uv - for custom Python version
    - wget https://astral.sh/uv/install.sh
    - bash install.sh
    - source $HOME/.local/bin/env
    # python venv
    - uv venv --python 3.12 venv
    - source venv/bin/activate
    - uv pip install .
    # install node packages
    - npm ci
    - npx puppeteer browsers install chrome
    # output important versions
    - node --version
    - npm --version
    - npx pa11y --version
    - python3 --version
  script:
    - cd django
    - mv core/local_settings.test.py core/local_settings.py
    - python manage.py migrate
    - python manage.py runserver & sleep 5
    - npx jest

ruff:
  stage: .pre
  tags:
  - bear-gitlab-runners
  image: registry.gitlab.com/pipeline-components/ruff:latest
  script:
    - ruff --version
    - ruff check .

stylelint:
  tags:
  - bear-gitlab-runners
  image: pipelinecomponents/stylelint
  before_script:
    - npm install stylelint-config-standard
    - npm install @stylistic/stylelint-plugin
  script:
    - stylelint .

eslint:
  tags:
  - bear-gitlab-runners
  image: pipelinecomponents/eslint
  before_script:
    - npm install globals
    - npm install @eslint/js
  script:
    - eslint . --ignore-pattern '*.mjs'

curlylint:
  image: python:3.12
  tags:
    - bear-gitlab-runners
  before_script:
    - pip install curlylint
  script:
    - curlylint --verbose .

sast:
  tags:
    - bear-gitlab-runners
  variables:
    GITLAB_ADVANCED_SAST_ENABLED: "true"

secret_detection:
  tags:
    - bear-gitlab-runners
  variables:
    SECRET_DETECTION_HISTORIC_SCAN: "true"

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
