{% extends "base.html" %}
{% load settings_value static %}

{% block main %}

<section class="container">
    <h2>About</h2>

    <h3 id="about-project">The project</h3>
    <p>
        Beyond the Fattening Room puts five wooden figures depicting ‘fattening room’ maidens from the University of Birmingham’s African Collection in dialogue with women’s contemporary lived experiences in Calabar, south-eastern Nigeria.
    </p>
    <p>
        By using art to elicit women’s life stories in Nigeria, the project deepens understanding of female journeys towards social maturation and experiences of motherhood. In Calabar, this research will contribute to urgent local debates on maternal care best practice, and the project will share its findings and its research methodologies with women’s health rights organisations in the region. For the University of Birmingham, the social research undertaken in Calabar will help University Collections communicate the contemporary significance of ‘fattening rooms’ and the art objects it manages. A series of public-facing exhibitions in Birmingham and Calabar aim to generate further conversation on the art objects and female coming of age practices. The project creates a case study for how UK-based African art collections can care for their objects and engage diverse publics.
    </p>
    <p>
        Beyond the Fattening Room is a collaborative project led by Dr Juliet Gilbert at the University of Birmingham. Read more about the Project Team here [hyperlink to Team page]. The project is generously funded by the Arts and Humanities Research Council (AHRC).
    </p>

    <h3 id="about-whatareprojectsartobjects">What are the project’s art objects?</h3>
    <p>
        The five wooden figures at the centre of the project depict maidens on their public outing from the ‘fattening room’. Crafted by expert carvers in the Cross River region of southeastern Nigeria, each of the figures showcases both local ideals of youthful femininity and, in the way in which each figure has its own style and character, the skill and artistic vision of the carver.
    </p>
    <p>
        The figures were commissioned directly from the carvers in the 1970s by a British art historian, Jill Salmons, and her late husband, the ethnographer, Keith Nicklin. The couple spent extensive time between the 1970s and 1990s in the Cross River region, working alongside local art collectives to document the region’s art and the carvers’ methods of making. The project refers to the wooden figures as ‘art objects’ rather than ‘ethnographic objects’ because they were commissioned by Nicklin and Salmons for their own private collection as examples of local craftmanship and as keepsakes of the personal relationships they forged with carvers – the figures were never used in social life in Nigeria.
    </p>
    <p>
        The five figures depicting ‘fattening room’ maidens were part of a generous donation of art objects made by Jill Salmons to the University of Birmingham’s African Collection.
    </p>
    <p>
        During the project, five artistic responses to these wooden figures will be created by women artists in Calabar, Nigeria.
    </p>

    <h3 id="about-whatarefatteningrooms">What are ‘fattening rooms’?</h3>
    <p>
        In Nigeria’s ethnically diverse Cross River region, ‘fattening rooms’ were once common in many communities as a space of seclusion and physical, aesthetic and moral transformation. Pubescent girls would enter the ‘fattening room’ in preparation for marriage and motherhood. During their isolation, which typically lasted a few months but could last up to a couple of years, girls would be looked after by older women, condition their bodies with food and their skin with local clay, and learn feminine arts such as body painting and dance. Girls would emerge from the ‘fattening room’ on their ‘public outing’ to show off their fattened bodies and feminine beauty to their communities and to mark their successful transition to womanhood.
    </p>
    <p>
        Today, ‘fattening rooms’ are largely defunct. Although some communities continue to practise some elements as part of broader re-investments in traditional heritage, most girls will not enter the ‘fattening room’ on their journeys to adulthood. Urbanisation, a greater importance placed on formal education, the spread of Pentecostal Christianity, and an increased awareness of medical interventions surrounding childbirth mean the expectations placed on girls and their transitions to adulthood have changed significantly. Despite this, the image of the ‘fattening room’ maiden remains iconic in the region, epitomising femininity and fertility.
    </p>
    <p>
        Nigeria’s changing social landscape, in which ‘fattening rooms’ no longer exist but are certainly not forgotten, raises questions about how to communicate the significance of the five ‘fattening room’ figures in the University of Birmingham’s African Collection. Click here [hyperlink to Interact page] to view these art objects.
    </p>

    <h3 id="about-whatwillprojectdo">What will the project do?</h3>
    <p>
        The project has two distinct but interlinked aims:
    </p>
    <p>
        1) Understand the continuities and tensions between past and contemporary feminine ideals in Nigeria’s Cross River region, providing insights into the challenges that women face, particularly with regards to preparation for motherhood. 
    </p>
    <p>
        2) Introduce an important new dimension into recent decolonial debates within museum studies by presenting a case study for evaluating how care of an African art collection requires engaging objects in social life. 
    </p>
    <p>
        The project runs for four years (2025-29) and will realise its two aims through a series of activities taking place in Birmingham, UK, and Calabar, Nigeria.
    </p>
    <img id="about-img-whatwillprojectdo" src="{% static 'images/about/what-will-project-do.jpg' %}" alt="Beyond the Fattening Room logo">
</section>

{% endblock %}