{% extends "base.html" %}
{% load settings_value static %}

{% block main %}

<section class="container">
    <h2>Project Team</h2>

    <div class="team-member-name">
        Dr Juliet Gilbert
    </div>
    <div class="team-member-role">
        Principal Investigator
    </div>
    <img src="{% static 'images/about/juliet-gilbert.jpg' %}" alt="Juliet Gilbert" class="team-member-photo">
    <p>
        Dr Juliet Gilbert is Associate Professor in African Studies and Social Anthropology at the University of Birmingham. Juliet has conducted ethnographic fieldwork in Calabar, Nigeria since 2010 and has research interests in women’s livelihoods, youth studies, uncertainty, religion and aspects of popular culture. Juliet’s monograph, Fashioning Futures: Uncertainty and young women’s livelihoods in urban Nigeria, is published with Cambridge University Press (The International African Library series). She has also published in leading journals such as Africa, Ethnos and Journal of Religion in Africa, and has discussed her research on BBC Radio 4’s Thinking Allowed programme.
    </p>
    <p>
        Email: <a href="mailto:j.gilbert.2@bham.ac.uk">j.gilbert.2@bham.ac.uk</a>
    </p>

    <div class="team-member-name">
        University Collections, University of Birmingham
    </div>
    <div class="team-member-role">
        Project Collaborator
    </div>
    <img src="{% static 'images/about/university-collections.jpg' %}" alt="University Collections" class="team-member-photo">
    <p>
        University Collections is a museum of the arts and sciences, which includes the University of Birmingham’s African Collection.
    </p>
    <p>
        The University Collections team is led by Clare Mullett (Head of University Collections), who oversees the interpretation, care and management of a wide range of modern and historic artefacts, driving projects that engage staff, students and public with the collections. During 25 years in the museum sector, Clare has created and led teaching modules, curated many exhibitions and established artist-in-residence schemes. Her work connects people, places and objects.
    </p>
    <p>
        Other members of the University Collections team include: Anna Young, Curator of Objects; Jenny Lance, Curator of Art; and Daniel Bowmar, Collections Manager.
    </p>
    <p>
        Find out more about <a href="https://www.birmingham.ac.uk/cultural-attractions/university-collections">University Collections</a> and its <a href="https://www.birmingham.ac.uk/cultural-attractions/university-collections/collections/african-collection" target="_blank">African Collection</a>.
    </p>
    <p>
        Email: <a href="mailto:rcc@contacts.bham.ac.uk">rcc@contacts.bham.ac.uk</a>
    </p>

    <div class="team-member-name">
        Emilia Okon
    </div>
    <div class="team-member-role">
        Project Collaborator
    </div>
    <img src="{% static 'images/about/emilia-okon.jpg' %}" alt="Emilia Okon" class="team-member-photo">
    <p>
        Emilia Okon is an experienced development practitioner and women’s health rights advocate based in Calabar, Nigeria. Having previously worked for USAID in Ebonyi State and Girls Power Initiative (GPI) in Cross River State, she has strengthened maternal health, sexual and reproductive health rights, and safeguarding across communities and health systems in southeastern Nigeria, designing practical tools that make care respectful, safe, and responsive. Emilia works in English, Efik and Pidgin. In this project, Emilia will co-lead on the arts-based and maternal health stake-holder workshops in Calabar, providing capacity building with strong safeguarding and informed-consent processes. She will also contribute to monitoring and learning and will join the final-year activities in Birmingham to share lessons and support public engagement.
    </p>
</section>

{% endblock %}