@media (max-width: 991px) {

    .display-small {
        display: initial;
    }

    /* ---------- Navigation ---------- */

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: white;
        font-size: 1.7em;
        padding-right: 0.35em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4em;
        min-height: calc(100vh - 3em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: 12em;
    }

}
