/* Make the submit row (i.e. buttons to save and delete the object) permanently fixed to bottom of screen */
.change-form .submit-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100vw - 2em);
    border-radius: 0;
    margin: 0;
    z-index: 1000;
}

#content-main {
    padding-bottom: 10em;
}

#id_transcription,
#id_translation {
    width: 100%;
    height: 30em;
}

.fieldset-heading {
    text-transform: uppercase;
}