:root {
    /* set color-scheme to switch between light or dark */
    color-scheme: light dark;

    --light-bg: white;
    --light-color: black;
    --dark-bg: black;
    --dark-color: white;
}

html {
    margin: 0;
    padding: 0;
}

* {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    padding: 10vh 5vw 15vh;
}

footer {
    margin-top: 6em;
    font-size: 0.8em;
    border-top: 1px solid light-dark(var(--light-color), var(--dark-color));
    text-align: center;
}

footer a {
    display: inline-block;
    margin: 0.5em;
}

h1 {
    font-size: 4em;
}

p,
ul {
    font-size: 1.7em;
    margin-bottom: 2em;
    line-height: 1.3em;
}
