name: linting

on: [pull_request]

jobs:
  ruff:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[lint]"
    - name: Run Ruff
      run: |
        ruff --version
        ruff check .

  curlylint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with: 
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[lint]"
    - name: Run curlylint
      run: |
        curlylint --verbose .

  eslint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install dependencies
      run: |
        npm i eslint
        npm i globals
    - name: Run eslint
      run: |
        node_modules/eslint/bin/eslint.js . --ignore-pattern '*.mjs'

  stylelint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install dependencies
      run: |
        npm i stylelint-config-standard
        npm i @stylistic/stylelint-plugin
    - name: Run Stylelint
      run: |
        node_modules/stylelint/bin/stylelint.mjs .
